* {margin:0;padding:0}
body {
    background-color:   #eee;}
#container {
    margin:             0 auto;
    padding:            0 20px 20px;
    font-family:        'courier new',"Georgia", serif;
    color:              #333;
    }
h3 {
    margin:             5px 0 10px;
    border-bottom:      2px solid;
    padding-bottom:     5px;
    }
h4 {
    margin:             5px 0;
    }
p {
    font-size:          16px;
    line-height:        20px;
    margin:             7px 0;
    }
a {
    color:              #5757B9;
    font-weight:        bold;
    }
.bold {
    font-weight:        bold;
    }
ul {
    list-style-position:inside;
    list-style-type:    none;
    padding:            0 20px;
    line-height:        20px;
    }
li {
    margin-bottom:      5px;
    }