/*
    File: /css/tablestyle.css
    Version: 1.0
    Author: Schop
*/

/* tables */
table {
	background-color: #CDCDCD;
	font-size: 14px;
	/*width: 100%;*/
	margin:10px 0px;
    border-bottom: 1px solid #ddd;
}
table.match_table{width:100%;}

table thead{
    border-top: 1px solid #ddd;
    }

table tr td, table tr th{
    	vertical-align: middle;
    	}
table thead tr th, table tfoot tr th {
	background-color: #CDCFE3;
	padding: 10px 16px 10px 8px;
	color:#333;
	font-weight: bold;
}
table thead tr .header {
	background-image: url(bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table tbody td {
	color: #3D3D3D;
	padding: 8px 12px;
	background-color: #FFF;
	vertical-align: middle;
	
}

#home_table tbody tr.odd, #home_table tbody tr.even{cursor:pointer;}
table tbody tr.odd {
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd; 
    }
table tbody tr.odd td {
	background-color:#F0F0F6;
}
table tbody tr.even td {
	background-color:#E3E4EF;
}
    
table thead tr .headerSortUp {
	background-image: url(asc.gif);
}
table thead tr .headerSortDown {
	background-image: url(desc.gif);
}
table thead tr .headerSortDown, table thead tr .headerSortUp {
background-color: #8dbdd8;
}
table tr td.td-center{text-align:center;}
table tr th.th-left{text-align:left;}
#match-stats-table {
    width: 100%
    }
    
/*styling for result lists in table */
h4 {margin:0px 0px 3px;}
div.match-detail {overflow:hidden;}
.match-detail ul {float:left;padding:0px 10px 0px 0px;}
.match-detail-block {overflow:hidden;float:left;}
.match-detail li {margin-bottom:2px;}
.match-detail li.list-sum {
    font-weight:bold;
    border-top:1px solid;
    margin-top:3px;
    padding-top:3px;
    }
div.arrow {
background: transparent url(../images/arrows.png) no-repeat scroll 0px -16px;
width: 16px;
height: 16px;
display: block;
}
div.up {background-position: 0px 0px;}
tr.details {border-top:1px solid #ddd; border-bottom:1px solid #ddd;}
tr.details td{background-color:#fdfdfd;}
th.info {padding-bottom:20px;}}